/* ===============================
   ESTILOS GENERALES
================================== */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

h1, h2, h3 {
    text-align: center;
    font-weight: 600;
}

p {
    text-align: center;
    margin-top: 10px;
}



header {
    background-color: rgb(248, 88, 88);
    padding: 20px;
    border: 4px solid brown;
    border-radius: 15px;
    margin: 10px;
    text-align: center;
}

header img {
    display: block;
    margin: 10px auto 0 auto;
    border-radius: 10px;
}
.contenedor-actividades {
    display: flex;
    justify-content: space-between;  
    gap: 40px;                       
    margin: 30px auto;
    width: 85%;
}


.contenedor-actividades section {
    background: white;
    padding: 20px;
    border-radius: 12px;
    width: 45%;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Estilo de las listas */
.contenedor-actividades ul {
    padding-left: 20px;
}

.contenedor-actividades li {
    margin: 8px 0;
}


.enla {
    text-decoration: none ;
    color: rgb(248, 88, 88);
    font-weight: bold;
}

.enla:hover {
    color: rgb(255, 0, 0);
    text-decoration: underline rgb(247, 108, 108);
}
.repo {
    text-decoration: none ;
    color: rgb(248, 88, 88);
    font-weight:bold;
    }
.repo:hover {
    color: rgb(240, 200, 100);
}