@import url('https://fonts.googleapis.com/css2?family=Audiowide&display=swap');

:root{ 
    --colorfondo: #f3fdbc;

}
body {
    background-color: var(--colorfondo);
    margin: 0 auto;
    box-sizing:border-box ; /*LAS PROPIEDADES WIDTH Y HEIGHT INCLUYEN EL BORDE Y EL RELLENO */
    font-family: Arial, Helvetica, sans-serif;
}

header, main, footer {
    margin: 0 10px;
    max-width: 90%;
}


header h1 {
    font-family: "AudioWide";
    color: blue;
    font-weight: bold;
    text-align: center;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}
header nav { 
    background-color:  #fab4b8;
     
}
header nav ul {
    padding-left: 20px;   
}
header nav li { 
    float: left;   
    text-decoration: none;
    list-style-type:none;
    margin-right: 20px;
    margin-left: 0px;
    padding: 16px 0 16px 8px;
}
nav a {
    text-decoration: none;
}
li:hover {
    background-color: white;
    
}
nav::after {
    content: "";
    display: block;
    clear: both;
}
#destacado {
    border: 3px orange;
    border-style: dotted;
    padding-left: 0.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.caja {
    border: 2px solid blue;
    padding: 10px;
    margin-bottom: 10px;
}
.centrado {

    display: flex;
   
}
.izquierda img {
    float: left;
}